@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-image:url(https://scontent.fruh4-2.fna.fbcdn.net/v/t31.18172-8/340851_10151239956350908_1519226670_o.jpg?_nc_cat=105&ccb=1-3&_nc_sid=cdbe9c&_nc_ohc=da8AyC3HWjwAX_5bdAG&_nc_ht=scontent.fruh4-2.fna&oh=ee65f5147a5e580c2996cbedf13a966c&oe=60E54BDF);
    background-size: 100% 110%;
    
  background-attachment: fixed;
    font-family: sans-serif;
    direction: ltr;
    
    
}
P{
    color:cornsilk;
    width: 80%;
        margin: 1% auto;
    position: relative;
    font-weight: bold;
    font-size: 25px;
        
   
}
.navbar{
    background-color:none;
    direction:rtl;
    text-align: right;
 
}
.navbar-list{
    list-style: none;
   
}
.navbar-item{
    display: inline-block;
    width: 8rem;
    height: 55px;
    line-height: 55px;
    text-align: center;
    transition: 0.3s;
    
}
.navbar-link{
    text-decoration: none;
    color: white;
    display: block;
    
    
}
.navbar-item:hover{
    background-color:#3366ff;
    transition: 0.3s;
    
      width:200px;
  margin: auto;
  border: 1px solid #3366ff;
}

.main{
    
    color:cornsilk;
    width: 50%;
        margin: 2% ;
    position: relative;
    
 
}

.motor2{
    color:cornsilk;
    width: 50%;
     margin: 2% ;
    position: relative;
}
.motor3{
    color:cornsilk;
    width: 50%;
     margin: 2% ;
    position: relative;
}
.motor4{
    color:cornsilk;
    width: 50%;
     margin: 2% ;
    position: relative;
}
.motor5{
    color:cornsilk;
    width: 50%;
     margin: 2% ;
    position: relative;
}
.motor6{
    color:cornsilk;
    width: 50%;
         margin: 2%;
    position: relative;
}
#slider{
    -wedkit-appearance: none;
    width: 50%;
    height: 10px;
    outline: none;
    border-radius: 5px;
    
}
#motoor2{
    -wedkit-appearance: none;
    width: 50%;
    height: 10px;
    outline: none;
    border-radius: 5px;
}
#motoor3{
    -wedkit-appearance: none;
    width: 50%;
    height: 10px;
    outline: none;
    border-radius: 5px;
}
#motoor4{
    -wedkit-appearance: none;
    width: 50%;
    height: 10px;
    outline: none;
    border-radius: 5px;
}
#motoor5{
    -wedkit-appearance: none;
    width: 50%;
    height: 10px;
    outline: none;
    border-radius: 5px;
}
#motoor6{
    -wedkit-appearance: none;
    width: 50%;
    height: 10px;
    outline: none;
    border-radius: 5px;
}

#slider::-webkit-slider-thumb{
  -webkot-appearance: none;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 3;
    position: relative;
   
}

.container{
    display:block;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align:left;
    min-height: 15vh;
    padding: 2em;
  
}
.but-1{
    width: 100px;
    height:40px;
    border: none;
    color: white;
    
    border-radius: 20px;
    box-shadow: inset 0 0 0 0 #3399ff;
  
    font-size: 1rem;
    outline: none;
    transition: all 0.3s ease;
    background: linear-gradient(135deg ,#e6e6ff, #3333ff );
}
 

.but-1:hover{
    transform: scale(1.09);
            background:linear-gradient(to right, rgba(255,0,0,0), rgba(255,225,51));
            box-shadow: 0 5px 10px rgba(0 , 0, 0, 0.15);
}

.but-2{
    width: 100px;
    height:40px;
    border: none;
    color: white;
  
    border-radius: 20px;
    box-shadow: inset 0 0 0 0 #3399ff;
   
    font-size: 1rem;
    outline: none;
     transition: all 0.3s ease;
    background: linear-gradient(135deg ,#e6e6ff, #3333ff );
}
.but-2:hover{
   transform: scale(1.09);
            background:linear-gradient(to right, rgba(255,0,0,0), rgba(255,225,51));
            box-shadow: 0 5px 10px rgba(0 , 0, 0, 0.15);
}
